@import url(./reset.css);

body {
  background-color: azure;
}

.flex-container {
  background-color: white;
  width: 50vw;
  height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: [first-col] 100px [second-col] 100px [third-col] 100px [last-col];
  grid-template-rows: [first-row] 100px [second-row] 100px [third-row] 100px [last-row];
  grid-template-areas:
    "header header footer"
    "body body footer"
    "body body footer";
  row-gap: 15px;
  column-gap: 10px;
  /* gap:15px; */
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  grid-auto-rows: 100px;
}

.item {
  padding: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.item:nth-child(2) {
  grid-area: body;
}

.item:last-child {
  grid-area: footer;
}

.item-with-children {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 620px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 175px 175px 175px 175px;
  }

  .gallery-container img:first-child {
    grid-area: 1 / 1 / 2 / 2;
  }

  .gallery-container img:nth-child(3) {
    grid-area: 2 / 1 / 3 / -1;
  }

  .gallery-container img:nth-child(4),
  .gallery-container img:nth-child(5) {
    grid-area: auto;
  }

  .gallery-container img:last-child {
    grid-area: -2 / 1 / -1 / -1;
  }
}
