/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

/* Tailwind v4 */
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
    @apply antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lora", serif;
  }
}
