@import url("../common/reset.css");

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --rounded-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  font-family: "inter", sans-serif;
}

p {
  line-height: 1.6rem;
  margin-bottom: 15px;
}

.testimonial-container {
  max-width: 756px;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 271px 66px 1fr;
  grid-template-rows: 270px 270px 325px;
  gap: 30px 15px;
  grid-template-areas:
    "testimonial-1 testimonial-1 testimonial-2"
    "testimonial-3-img testimonial-3 testimonial-3"
    "testimonial-4 testimonial-4 testimonial-4";
}

.testimonial-1 {
  grid-area: testimonial-1;
}

.testimonial-2 {
  grid-area: testimonial-2;
}

.testimonial-3-img {
  grid-area: testimonial-3-img;
}

.testimonial-3 {
  grid-area: testimonial-3;
}

.testimonial-4 {
  grid-area: testimonial-4;
}

.review {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 16px;
}
.testimonial-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-user {
  display: flex;
  gap: 15px;
  align-items: center;
}

.review-user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.review-user h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.review-user p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.testimonial-2 {
  border: 1px solid black;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.testimonial-3-img img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.testimonial-3 {
  background-color: black;
  color: white;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: start;
}
.testimonial-3 h3 {
  font-size: 24px;
  font-weight: 500;
}

.testimonial-3 .stars {
  font-size: 20px;
  color: gold;
}

.testimonial-3 p.role {
  opacity: 0.4;
}

.testimonial-4 {
  border: 1px solid black;
  padding: 15px;
  border-radius: 16px;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 0.5rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.user-carousel {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.avatar.small {
  width: 50px;
  opacity: 0.6;
}

.avatar.large {
  width: 70px;
  height: 70px;
  border: 2px solid #333;
  opacity: 1;
}

.user-carousel a img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
